<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title_list_tweets_Pending and published tweets</title>
    <style type="text/css">
        tr.evenrow{
            background: #FFFFFF;
            }
        tr.oddrow{
            background: #DDDDDD;
            }
    </style>
</head>

<body>
<table>
    <tr>
        <td colspan="2" align="center">
            <b>Pending tweets</b>
        </td>
    </tr>
    <tr>
        <td>
            Tweet text
        </td>
        <td>
            Submitted
        </td>
    </tr>
    {% for tweet in pending_tweets %}
        <tr class="{% cycle 'oddrow' 'evenrow' %}">
            <td>
                <a href="/approve/review/{{ tweet.id }}">{{ tweet.text }}</a>
            </td>
            <td>
                {{ tweet.created_at|timesince }} ago
            </td>
        </tr>
    {% endfor %}
</table>
<hr>
<table>
    <tr>
        <td colspan="2" align="center">
            <b>Published tweets</b>
        </td>
    </tr>
    <tr>
        <td>
            Tweet text
        </td>
        <td>
            Published
        </td>
    </tr>
    {% for tweet in published_tweets %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}">
        <td>
            {{ tweet.text }}
        </td>
        <td>
            {{ tweet.published_at|timesince}} ago
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>